@import "tailwindcss";


@keyframes fadeUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeSlideRight {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeSlideLeft {
  0% {
    transform: translateX(40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Utility classes */
.animate-fadeUp {
  animation: fadeUp 0.8s ease-out forwards;
}

.animate-fadeSlideRight {
  animation: fadeSlideRight 0.8s ease-out forwards;
}

.animate-fadeSlideLeft {
  animation: fadeSlideLeft 0.8s ease-out forwards;
}
